body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
    }
    
    .main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #ffff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    }

    /*a {
        text-decoration: none;
    }*/
   
    /* Main conteiner section */
    .main-content-section {
        padding: 100px 90px;        
    }
    
    .main-content-title {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #000;
        margin-bottom: 10px;
    }

    
    /* about me section */
    .about-me-section {
        margin: 0 0 40px 0;
    }
    
    .about-me-profession {
        font-style: normal;
        line-height: 17px;
        font-size: 14px;
        font-weight: 700;
        color: #000;
        margin: 0 0 20px 0;
    }
    
    .about-me-name {
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        color: #000;
        margin: 0 0 25px 0;
    }
    
    .about-me-description {
        width: 400px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
        margin: 0 0 40px 0;
    }
    

    /* my project section */
    .my-project-section {
        margin: 0 0 50px 0;
    }
    
    .my-project-list {
        padding: 0 0 0 18px;
    }
    
    .my-project-item {
        font-weight: bold;
        color: #000;
    }
    
    .my-project-link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
    }
    
    .my-project-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
        margin-left: 5px;
        
    }
    
    .my-project-bracket {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #000;    
    }
    
    
    /* My work experients */
    .my-work-experients-company {
        color: #FB6D3A
    }

    .my-work-experients-position {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        margin: 0 0 10px 0;
    }

    .my-work-experients-period {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #A8A8A8;
        margin: 0 0 10px 0;
    }

    .my-work-experients-divider {
        color: #000;
    }
    
    .my-work-experients-duties {
        padding: 0 0 0 18px;
    }
    
    .my-work-experients-duty {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #A8A8A8;
    }
    
    .my-work-experients-company-block {
        margin: 0 15px 0 0;
    }
    

    /* My education section */

    .my-education-section {
        margin: 45px 0 0 0;
    }

    .education {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #000;
        margin-bottom: 10px;
    }

    .my-institute {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FB6D3A;
        margin: 10px 0 0 0;
    }

    .my-profession {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        margin: 10px 0 10px 0;
    }

   
    /* Sidebar section */
    .sidebar-section {
        background-color: #1E2939;
        padding: 40px 0px;
    }
    .contacts-section, 
    .Tech-Skills-section,
    .Soft-Skills-section {
        margin: 50px 0 0 40px;
    }
    .sidebar-title {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: #ffff;
        margin-bottom: 10px;
    }
    
    /* Contacts section */
    .contacts-section-type {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #ffff;
        margin-right: 7px;
    }
    
    .contacts-section-link {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #565E6A;
        
    }
    
    .contacts-section-link:hover {
        color: #ffff;
        font-weight: 600;
    }
    
   
    /* Tech-Skills-section */
    .Tech-Skills-list {
        padding: 0 0 0 17px;
        color: #ffff;
    }
    
    .Tech-Skills-item {
        color: #FB6D3A;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;    
    }

    /*.Tech-Skills-item-HTML::before {
        display: block;
        content: '';
        width: 16px;
        height: 25px;
        position: absolute;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(C:\Users\Sergey\Documents\my-resume\img\png-transparent-logo-html-html5.png);
    }*/


    .Tech-Skills-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #ffff;    
    }